@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
	font-family: 'Roboto', sans-serif;
	
}

panel{
	background-color: lightblue;
}

.wayd .item {
	font-size: 17;
	padding: .25em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	margin: 2px;
	border: 1px solid #667;
	display:inline-block;
}

.wayd .item.selected {
	background-color: rgba(51,102,255,.8);
}

.login {
	text-align: center;
}

#frontPageContent {
	margin-top: 100px;
}

#rightImage {
	/*position: relative; /* Declared position allows for location changes */
    /*top: -200px; /* Moves the image 2px closer to the top of the page */
	max-width: none;
}

#leftImage{
	position: relative; /* Declared position allows for location changes */
    left: 15px; /* Moves the image 2px closer to the top of the page */
}