@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
	font-family: 'Roboto', sans-serif;
}

.wayd .item {
	font-size: 17;
	padding: .25em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	margin: 2px;
	border: 1px solid #667;
	display:inline-block;
}

.wayd .item.selected {
	background-color: rgba(51,102,255,.8);
}