<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta characteristics -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple Social</title>

    <!-- styling/etc -->
    <link rel="stylesheet" type="text/css" href="./css/app.css">
		<link rel="stylesheet" href="css/bootstrap.min.css" >

    <!-- dependencies -->
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.5.0.min.js"></script>		
    <script src="./js/underscore.js"></script>
  </head>
  <body>
		<div id="wayd" class="wayd">
		</div>

		<div id="hayd" class="hayd">
		</div>

    <div id="quiz" class="quiz">
    </div>

    <!-- Templates -->
		<script type="text/template" id="loginTemplate">
			<header>Simple Social</header>
			<div class="row" id="loginRow">
				<div class="col-md-1"></div>
				<div class="col-md-5" id="quoteBlock">
					<img id="leftQuote" src="img/quote-left.png" height="100px">
					<h1>If it scares you, it might be a good thing to try</h1>
					<img id="rightQuote" src="img/quote-right.png" height="100px">
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-4">
					<!-- panel for the login/signup content -->
					<div id="loginContent">
						<div class="panel panel-default">
							<div class="panel-body">
								<form class="loginForm">
								<!-- should put error somewhere else... I'll leave it here for now -->
									<img src="img/user_icon.png" height="120px"><br>
									<div class="error" style="display:none"></div><br>
									<div class="row">
										<div class="col-md-2"></div>
										<div class="col-md-8">
											<input type="text" id="loginUsername" class="form-control form-control-purple input-lg" placeholder="Username">
										</div>
										<div class="col-md-2"></div>
									</div>
									<div class="row">
										<div class="col-md-2"></div>
										<div class="col-md-8">									
											<input type="password" id="loginPassword" class="form-control form-control-purple input-lg" placeholder="Password">
										</div>
										<div class="col-md-2"></div>
									</div>
									<div class="row">
										<div class="col-md-2"></div>
										<div class="col-md-8">
											<button class="btn btn-block input-lg">Log In</button>
										</div>
										<div class="col-md-2"></div>
									</div>
								</form>
								<form class="signupForm" style="display:none;">
									<h2>Sign Up</h2>
									<div class="error" style="display:none"></div>
									<input type="text" id="signupUsername" placeholder="Username" /><br>
									<input type="password" id="signupPassword" placeholder="Create a Password" /><br>
									<button>Sign Up</button>
								</form>
							</div>				
						</div>
						<h2 id="signupText">Don't have an account? <a id="signupLink" href="javascript:;">Sign up</a></h2>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>
			
		</script>

    <script type="text/template" id="QUIZTemplate">
      <div id="quizContainer">
        <div id="quizQuestion">
          <%= questions[curQ] %>
        </div>
        <div id="quizResponses">
          <div id="responseQuestion">
            <%= responses[curR][0] %>
          </div>
          <div id="responseItems">
            <% for (item in responses[curR][1]) { %>
              <div class="response" data-value="<%= item %>"><%= responses[curR][1][item] %></div>
            <% } %>
          </div>
        </div>
        <div id="nextQ" class="nextQ">Next Question -></div>
      </div>
    </script>

    <script type="text/template" id="WAYDTemplate">
      <div id="userInfo">
        Signed in as <%= Parse.User.current().escape("username") %> (<a href="#" class="logOut">Log out</a>)
      </div><br>
      <p> What are you doing? </p>
      <div id="categories">
      </div>
      <br>
			<div id="add">
				<label> Add category: <input id="addWAYD" type="text" placeholder="Something you do..."></label> 
			</div>
    </script>

    <script type="text/template" id="HAYDTemplate">
      <p> How are you doing? </p>
    	<label>Mood:<input id="rating" class="rating" type="number"></label><br>
		  <label>Journal Entry:<br><textarea id="blurb" class="blurb"></textarea></label><br>
		  <button type="submit" class="submit">Submit</button>
			<br>
		</script>

		<!-- app script -->
    <script src="./js/app.js"></script>
		<!-- bootstrap's script -->
		<script src="js/bootstrap.min.js"></script>		
	</body>
</html>