<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta characteristics -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple Social</title>

    <!-- styling/etc -->
    <link rel="stylesheet" type="text/css" href="./css/app.css">
		<link rel="stylesheet" href="css/bootstrap.min.css" >

    <!-- dependencies -->
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.5.0.min.js"></script>		
    <script src="./js/underscore.js"></script>
		<!-- for eyes -->
		<script type="text/javascript" src="js/jqeye.min.js"></script>
  </head>
  <body>
		<div id="wayd" class="wayd">
		</div>

		<div id="hayd" class="hayd">
		</div>

    <div id="quiz" class="quiz">
    </div>

    <!-- Templates -->
		<script type="text/template" id="loginTemplate">
			<header>Simple Social</header>
			<div class="row" id="loginRow">
				<div class="col-md-1"></div>
				<div class="col-md-5" id="quoteBlock">
					<img id="leftQuote" src="img/quote-left.png" height="100px">
					<h1>If it scares you, it might be a good thing to try</h1>
					<img id="rightQuote" src="img/quote-right.png" height="100px">
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-4">
					<!-- panel for the login/signup content -->
					<div id="loginContent">
						<img id="creepyDialog" src="img/dialog.png" height="70px" width="400px" style="display:none;position:absolute; left:-300px; top:-80px;">
						<p id="creepyText" style="display:none;position:absolute; left:-250px; top:-30px;font-size:130%;">Hi :)</p>
						<img id="wavingMan" src="img/waving_man.png" height="400px" style="z-index:-1;position: absolute; left: -19px; top: -82px">
						<div class="creepy" style="display:none; width:20px; height:20px; left:-142px; top:56px; position:absolute; border:1px solid black; border-radius:10px;background-color:white;">
							<div class="pupil" style="width:8px; height:8px; left:5px; top:4px; border-radius:4px; background-color:black; position:relative;"></div>
						</div>
						<div class="creepy" style="display:none; width:20px; height:20px; left:-115px; top:40px; position:absolute; border:1px solid black; border-radius:10px;background-color:white;">
							<div class="pupil" style="width:8px; height:8px; left:5px; top:4px; border-radius:4px; background-color:black; position:relative;"></div>
						</div>
						<!--
						<div style="width:14px; height:14px; left:-115px; top:40px; position:absolute; border:1px solid black; border-radius:7px;background-color:white;">
						<div class="pupil" style="display:none;width:10px; height:10px; left:-142px; top:56px; border-radius:5px; background-color:blue; position:absolute;"></div>
						<div class="pupil" style="display:none;width:10px; height:10px; left:-115px; top:40px; border-radius:5px; background-color:blue; position:absolute;"></div>
						-->
						<div class="panel panel-default">
							<div class="panel-body">
								<form class="loginForm">
									<img src="img/user_icon.png" height="120px"><br>
									<div class="error" style="display:none"></div><br>
									<div class="row">
										<div class="col-md-2"></div>
										<div class="col-md-8">
											<input type="text" id="loginUsername" class="form-control form-control-purple input-lg" placeholder="Username">
										</div>
										<div class="col-md-2"></div>
									</div>
									<div class="row">
										<div class="col-md-2"></div>
										<div class="col-md-8">									
											<input type="password" id="loginPassword" class="form-control form-control-purple input-lg" placeholder="Password">
										</div>
										<div class="col-md-2"></div>
									</div>
									<div class="row">
										<div class="col-md-2"></div>
										<div class="col-md-8">
											<button class="btn btn-block input-lg">Log In</button>
										</div>
										<div class="col-md-2"></div>
									</div>
								</form>							
								<form class="signupForm" style="display:none;">
									<img src="img/user_icon.png" height="120px"><br>
									<div class="error" style="display:none;"></div>
									<div class="row">
										<div class="col-md-2"></div>
										<div class="col-md-8">
											<input type="text" id="signupUsername" class="form-control form-control-purple input-lg" placeholder="Username">
										</div>
										<div class="col-md-2"></div>
									</div>
									<div class="row">
										<div class="col-md-2"></div>
										<div class="col-md-8">
											<input type="password" id="signupPassword" class="form-control form-control-purple input-lg" placeholder="Create a Password">
										</div>
										<div class="col-md-2"></div>
									</div>
									<div class="row">
										<div class="col-md-2"></div>
										<div class="col-md-8">
											<button class="btn btn-block input-lg">Sign Up</button>
										</div>
										<div class="col-md-2"></div>
									</div>
								</form>
							</div>				
						</div>
						<h2 id="signupText">Don't have an account? <a id="signupLink" href="#">Sign up</a></h2>
						<h2 id="loginText" style="display:none;">Have an account? <a id="loginLink" href="#">Log in</a></h2>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>
			<script>
				$("#signupLink").click(function(){
					$(".loginForm").hide();
					$("#signupText").hide();
					$(".signupForm").show();
					$("#loginText").show();
				});
				$("#loginLink").click(function(){
					$(".loginForm").show();
					$("#signupText").show();
					$(".signupForm").hide();
					$("#loginText").hide();
				});
				$("#loginUsername, #signupUsername").click(function(){
					//$("#wavingMan").animate({left: '-250px'}, 3000);					
				});
				$("#loginPassword, #signupPassword").click(function(){
					/*$(".creepy").show();
					$("#creepyDialog").show();
					$("#creepyText").show();
					$(".pupil").jqEye({radius:5});	
					$("#creepyText").html("I'm watching you, <b>" + $("#loginUsername").val() + "</b>");*/
				});
				
			</script>
		</script>

    <script type="text/template" id="QUIZTemplate">
      <div id="quizContainer">
        <div id="quizQuestion">
          <%= questions[curQ] %>
        </div>
        <div id="quizResponses">
          <div id="responseQuestion">
            <%= responses[curR][0] %>
          </div>
          <div id="responseItems">
            <% for (item in responses[curR][1]) { %>
              <div class="response" data-value="<%= item %>"><%= responses[curR][1][item] %></div>
            <% } %>
          </div>
        </div>
        <div id="nextQ" class="nextQ">Next Question -></div>
      </div>
    </script>

    <script type="text/template" id="WAYDTemplate">
      <div id="userInfo">
        Signed in as <%= Parse.User.current().escape("username") %> (<a href="#" class="logOut">Log out</a>)
      </div><br>
      <p> What are you doing? </p>
      <div id="categories">
      </div>
      <br>
			<div id="add">
				<label> Add category: <input id="addWAYD" type="text" placeholder="Something you do..."></label> 
			</div>
    </script>

    <script type="text/template" id="HAYDTemplate">
      <p> How are you doing? </p>
    	<label>Mood:<input id="rating" class="rating" type="number"></label><br>
		  <label>Journal Entry:<br><textarea id="blurb" class="blurb"></textarea></label><br>
		  <button type="submit" class="submit">Submit</button>
			<br>
		</script>

		<!-- app script -->
    <script src="./js/app.js"></script>
		<!-- bootstrap's script -->
		<script src="js/bootstrap.min.js"></script>		
	</body>
</html>